*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
nav{
  background-color: black;
}
.name{
  color:white;
  padding:20px;

}
.logo{
  color:white;
  background-color:skyblue;
  border:1px solid transparent;
  border-radius:30px;
}
img{
  width:40px;
}